<div class="container">
  <h2>Activities History</h2>
  <p>List of activities in the last 24h</p>
  <table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Position</th>
        <th>date/Time</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Bob</td>
        <td>Bilman</td>
        <td>def@somemail.com</td>
        <td>Lon: 23, Lat: 23</td>
        <td>26.06.2020/18h34</td>

      </tr>      
      <tr class="success">
        <td>Alex</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td>Lon: 23, Lat: 23</td>
        <td>26.06.2020/18h34</td>
      </tr>
      <tr class="danger">
        <td>Billy</td>
        <td>Moe</td>
        <td>mary@example.com</td>
        <td>Lon: 23, Lat: 23</td>
        <td>26.06.2020/18h34</td>
      </tr>
      <tr class="info">
        <td>Jim</td>
        <td>Dooley</td>
        <td>july@example.com</td>
        <td>Lon: 23, Lat: 23</td>
        <td>26.06.2020/18h34</td>
      </tr>
      <tr class="warning">
        <td>Bonny</td>
        <td>Refs</td>
        <td>bo@example.com</td>
        <td>Lon: 23, Lat: 23</td>
        <td>26.06.2020/18h34</td>
      </tr>
      <tr class="active">
        <td>James</td>
        <td>Activeson</td>
        <td>act@example.com</td>
        <td>Lon: 23, Lat: 23</td>
        <td>26.06.2020/18h34</td>
      </tr>
    </tbody>
  </table>
</div>