.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.iconSrc {
  /*background: url('src/app/logo.png');*/
  padding-right:3px; 
  padding-top: 3px;
  height: 80px;
  display:inline-block;
  /*display: block;
  /* Other styles here */
}